<div class="circle-chart html">
    <div class="text">
        <h2>HTML</h2>
        <span class="chart-data">20</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" 
              style="stroke-dasharray: 100px, 900px;
  stroke-dashoffset: 1000px;"/>
         
     </g>
    </svg>
</div>

<div class="circle-chart css">
    <div class="text">
        <h2>CSS</h2>
        <span class="chart-data">40</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" 
              style="stroke-dasharray: 20%, 294%;
  stroke-dashoffset: 314%;"/>
     </g>
    </svg>
</div>
<div class="msg"></div>